  @import url('https://fonts.googleapis.com/css?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');
 html{
   scroll-behavior: smooth;
   }
   *{
  outline: none;
}
body{
font-family: 'Slabo 27px',serif ;
 width: 100%;
 margin: 0;
 padding:%;
 background-color:#f5f5f5;


}
h1,h2,h3,h4{
  font-family: 'Economica',sans-serif ;
  color: #373239;
}
ul{
  padding-left: 0;
}
li{
  list-style-type: none;
  line-height: 120%;
}
.main-heading{
font-family: 'Reenie Beanie',cursive;
font-size:400% ;
text-transform: capitalize;
padding: 2%;
}
button{
  font-family: 'Economica',sans-serif ;
}

header{
  height: 100vh;
  background:linear-gradient(rgba(15, 22, 38, 0.7),rgba(15, 22, 38, 0.7)), url("camera.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}
header h3{
  font-size: 100%;
}
 .desc{
  font-family: 'Indie Flower', cursive;
  padding-top: 15%;
  padding-right: 2%;
  float: right;
  width: 35%;
  color: #fff;
  animation: show;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 3s;
   position: relative;
}


.desc h3{
  font-size: 250%;
  color: #f4f4f4;
}

.desc button{

  margin-bottom: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 4px solid #ff533d;
  width: 70%;
  height: 7%;
  text-transform: capitalize;
  border-radius: 1em;
  transition: all 2s;
}

.desc button:hover, .desc button:active{
  border: 2px solid #dab692;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-55px);
  -webkit-transform: translateX(-55px);

}


.desc button a{
  color: #fff;
  text-decoration: none;
}

.about{
  margin-top: 0%;
  padding:0;
}

.about h2{
  padding-left: 5%;
}

.about p{
  line-height: 200%;
  text-align: center;
  font-size: 120%;
}
 #portfolio{
   padding: 1%;
   display: grid;
   grid-gap: 1%;
   grid-template-columns: repeat(4,1fr);

 }
 .portfolio-item{
   border: 1px solid #ab987a;
   box-sizing: border-box;
   width:100%;
   padding: 10%;
   margin-bottom: 10%;
  background-color: #f5f5f5;

 }
.portfolio-item img{
  width:100%;
}
.portfolio-item h2{
  text-transform: uppercase;
  color:#0f1626;
}

.portfolio-item p{
  line-height: 170%;
}
.portfolio-item h4{
  color:#ff533d;
}
.portfolio-item a{
  display:block;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight:bold;
  padding: 2%;

  color:#0f1626;
}

.portfolio-item a:hover{
  color:#ff533d;
}
.github{

  text-align: center;
  margin:1% 0;
  padding: 5%;
}
.github p{
  font-size:150%;
  font-weight: 400;
}
.github a{
  text-decoration: none;
  color: red;
}
#contact{

  box-sizing: border-box;
  width: 100%;
  padding:2% 0;
height:800px;
margin-top: 10% auto 21% auto;
background-size: cover;
background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("abuja.jpg");
}

#contact h3,#contact p{
  text-align: center;
  font-size: 150%;
  color: #fff;
}


fieldset{
  padding: 1%;
  width: 50%;
  margin: 0 auto;
background-color: #fffaf4;
box-shadow:1px 1px 2px 1px #fff;
}


input,textarea{
  background:transparent;
  font-size: 105%;
  padding: 2%;
  margin: 3% 5%;
   border:1px solid #000;
  width: 90%;
  transition:all 0.5s;
}
input:focus{
  padding:3%;
  border-width: 2px;
}
textarea {
resize: none;
height: 20%;
}
form button{
 width: 70%;
  margin: 3% 15%;
  text-transform: uppercase;
  height: 7%;
  font-size: 120%;
  background-image: -webkit-linear-gradient(top left, #dab692, #fff);
  transition: all 2s;
}
form button:hover{
  background-image: -webkit-linear-gradient(top left, #fff,#dab692 );
  transform: scale(0.8, 0.7);
  -webkit-transform: scale(0.8, 0.95);
  -m-transform: scale(0.8, 0.95);
  -ms-transform: scale(0.8, 0.95);
  -o-transform: scale(0.8, 0.95);
}
form button:active{
  background-image: -webkit-linear-gradient(top left, #8a9ea7,#dab692 );
}
#result{
  font-size: 120%;
  color: #000;
  text-align: center;
}


footer{
  background-color:#ab987a;
  padding: 6%;
  text-align: center;
}
footer p{
  text-transform: capitalize;
}
.credit{
  font-style: oblique;

}

.credit a{
  color: #000;

}
@media (min-width: 480px) and (max-width:768px) {

 .desc{
  padding-top: 50%;
  width:40%;
  }
  .desc h3{
    font-size: 200%;
  }

  .desc button{
    width: 100%;
    height: 7%;
  }

  .about .container {
  width: 85%;

  margin: 5% auto;
  padding: 3%;

  }
  #portfolio{
    padding: 1%;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(2,1fr);

  }
  .about p{
    line-height: 160%;
    text-align:center;
  }

  #contact{

    padding:2%;
  height:700px;
  margin-top: 10% auto 21% auto;
  }

  fieldset{
    padding: 1%;
    width: 70%;
  }


}


@media (max-width:480px){

  header{
    height: 100vh;
  }

  header h1{
    padding:5%;
    color: #fff;
  }
  .main-heading{
  font-size:180% ;
}
  .desc{
    padding-top: 60%;
    padding-right: 2%;
    width: 90%;
    text-align: center;
  }

  .desc h3{
    font-size: 180%;
    }
     .desc p{
       font-size: 120%;
     }
  .desc button{
     font-size: 90%;
    width: 60%;
  }

  .about .container {
  width: 85%;

  margin: 5% auto;
  padding: 3%;

  }

  .about p{
    padding: 5% 5% 10% 5%;
    line-height: 170%;
  }


  #portfolio{
    display: block;
}
  .portfolio-item{
    box-sizing: border-box;
    width:100%;
    padding: 10%;
    margin-bottom: 10%;
   background-color: #f5f5f5;
   box shadow: 21px 21px 10px 100px #000;

  }

#contact{
  width: 100%;
  padding:2%;
height:600px;
margin-top: 10% auto 21% auto;
}

fieldset{
  padding: 1%;
  width: 80%;
}


input,textarea{
  padding: 2%;
  margin: 3% 5%;
  width: 90%;
}

textarea {
resize: none;
height: 20%;
}
#instagram a{
  font-size: 150%;
  text-decoration: none;

}

}
